@import "@/assets/sass/colors.scss";

$primary: $dark-green;
$secondary: $blue !default;
$danger: $light-red !default;

$border-radius: 0.09rem !default;
$border-radius-lg: 0.1rem !default;
$border-radius-sm: 0.02rem !default;

$navbar-light-hover-color: $dark-green;
$navbar-light-active-color: $dark-green;

$navbar-nav-link-padding-x: 1rem !default;

$link-hover-color: $dark-green;
$navbar-light-hover-color: $dark-green;

$btn-padding-y:               0.35rem !default;
$btn-padding-x:               1.3rem !default;
$btn-font-size: 0.78rem;

$btn-padding-y-sm:            0.3rem !default;
$btn-padding-x-sm:            0.9rem !default;
$btn-font-size-sm:            0.8rem !default;
// $btn-line-height-sm:          2rem !default;

$btn-padding-y-lg:            0.6rem !default;
$btn-padding-x-lg:            1.6rem !default;
$btn-font-size-lg:           1.2rem !default;
// $btn-line-height-lg:          $input-btn-line-height-lg !default;


$btn-focus-width:   0;      


@import "node_modules/bootstrap/scss/_functions.scss";
@import "node_modules/bootstrap/scss/_variables.scss";
@import "node_modules/bootstrap/scss/_mixins.scss";

@import "node_modules/bootstrap/scss/_root.scss";
@import "node_modules/bootstrap/scss/_reboot.scss";


// @import "node_modules/bootstrap/scss/_type.scss";
// @import "node_modules/bootstrap/scss/bootstrap/images.scss";
// @import "node_modules/bootstrap/scss/bootstrap/tables.scss";
// @import "node_modules/bootstrap/scss/_forms.scss";
@import "node_modules/bootstrap/scss/_buttons.scss";
@import "node_modules/bootstrap/scss/_transitions.scss";
@import "node_modules/bootstrap/scss/_dropdown.scss";
// @import "node_modules/bootstrap/scss/_button-group.scss";
// @import "node_modules/bootstrap/scss/_input-group.scss";
// @import "node_modules/bootstrap/scss/_custom-forms.scss";
@import "node_modules/bootstrap/scss/_nav.scss";
@import "node_modules/bootstrap/scss/_navbar.scss";
// @import "node_modules/bootstrap/scss/card.scss";
// @import "node_modules/bootstrap/scss/breadcrumb.scss";
// @import "node_modules/bootstrap/scss/pagination.scss";
// @import "node_modules/bootstrap/scss/badge.scss";
// @import "node_modules/bootstrap/scss/jumbotron.scss";
// @import "node_modules/bootstrap/scss/alert.scss";
// @import "node_modules/bootstrap/scss/progress.scss";
// @import "node_modules/bootstrap/scss/media.scss";
// @import "node_modules/bootstrap/scss/list-group.scss";
@import "node_modules/bootstrap/scss/close.scss";
// @import "node_modules/bootstrap/scss/toasts.scss";
@import "node_modules/bootstrap/scss/_modal.scss";
// @import "node_modules/bootstrap/scss/tooltip.scss";
// @import "node_modules/bootstrap/scss/popover.scss";
// @import "node_modules/bootstrap/scss/carousel.scss";
// @import "node_modules/bootstrap/scss/spinners.scss";
@import "node_modules/bootstrap/scss/_utilities.scss";
@import "node_modules/bootstrap/scss/_print.scss";

@import "node_modules/bootstrap-vue/src/index.scss";

// Stop scrolling.
.no-scrolling {
    overflow: hidden;
    padding-right: 17px;
}

html {
    font-size: 100%;
}

body {
    font-size: 1rem;
}