@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");

// Load Nymbl UI colors
@import "@/assets/sass/colors.scss";
// Load Nymbl UI defaults
@import "@/assets/sass/config.scss";

$primary:#83EAE7;
$secondary: #94BFDF!default;
$danger: #A79184 !default;

$border-radius: $n-border-radius;
$border-radius-sm: $n-border-radius-sm;
$border-radius-lg: $n-border-radius-lg;

$navbar-light-hover-color: $dark-green;
$navbar-light-active-color: $dark-green;

$navbar-nav-link-padding-x: 1rem !default;

$link-hover-color: $dark-green;
$navbar-light-hover-color: $dark-green;

$btn-padding-y: 0.8rem !default;
$btn-padding-x: 1.1rem !default;
$btn-font-size: 0.96rem;

$btn-padding-y-sm: 0.7rem !default;
$btn-padding-x-sm: 0.8rem !default;
$btn-font-size-sm: 0.8rem !default;

$btn-padding-y-lg: 1.1rem !default;
$btn-padding-x-lg: 1.3rem !default;
$btn-font-size-lg: 1.4rem !default;

$btn-disabled-opacity: 0.5 !default;

$btn-focus-width: 0;

$body-bg: $white !default;

$body-color: #231f20 !default;

$text-color: #231f20;

$zindex-modal-backdrop:             2040 !default;
$zindex-modal:                      2050 !default;

@import "node_modules/bootstrap/scss/_functions.scss";
@import "node_modules/bootstrap/scss/_variables.scss";
@import "node_modules/bootstrap/scss/_mixins.scss";
@import "node_modules/bootstrap/scss/_root.scss";
@import "node_modules/bootstrap/scss/_reboot.scss";
@import "node_modules/bootstrap/scss/_grid.scss";
@import "node_modules/bootstrap/scss/_transitions.scss";
@import "node_modules/bootstrap/scss/_nav.scss";
@import "node_modules/bootstrap/scss/_navbar.scss";;
@import "node_modules/bootstrap/scss/_utilities.scss";
@import "node_modules/bootstrap/scss/_print.scss";
@import "node_modules/bootstrap-vue/src/index.scss";


html {
  font-size: 100%;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen,
  Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: $text-color;
}

