// Nymbl color palette
// use as `import colors from "@/assets/sass/colors.scss"`

$white: #ffffff;
$light-gray: #bebebe;
$gray: #5b5b5b;
$dark-red: #b12b23;
$light-red: #e95231;
$light-green: #06ffeb;
$dark-green: #00acb8;
$blue: #047ab7;
$darker-blue: #0446af;
$dark-blue: #0446af;

$teal: blue;

// Nymbl Styles
$red: lighten($light-red, 20%);
$green: lighten($dark-green, 4%);
$orange: #f3c28d;
$userCheckedColor: #caf0ee;
$header-bg: $blue;

$bg-color: #fafafa;

$hover-bg-color: #f1f1f1;
$hover-color: #606266;
$active-bg-color: #fff;
$active-color: #fff;
$text-color: #606266;

// Black hues
$text: #3c4043;
$gray: #5f6368;

$green-1: #0c6a69;
$green-2:  #1B807E; //#09b3b0
$green-3: #83eae7;
$green-4: #ccfeff;
$blue-1: #244f6f;
$blue-2: #4b88b5;
$blue-3: #94bfdf;
$blue-4: #c2e2f9;
$brown-1: #5e3d2a;
$brown-2: #8e6853;
$brown-3: #a79184;
$brown-4: #d9c5ba;
$gray-1: #292f2f;
$gray-2: #595959;
$gray-3: #a2a2a2;
$gray-4: #bcbcbc;
$orange-1: #bb5f15;
$orange-2: #e2771f;
$orange-3: #edab6f;
$orange-4: #f8d8b9;
$red-1: #751316;
$red-2: #ac1a1f;
$red-3: #d47f80;
$red-4: #f5d0d0;

:export {
  green-1: $green-1;
  green-2: $green-2;
  green-3: $green-3;
  green-4: $green-4;
  blue-1: $blue-1;
  blue-2: $blue-2;
  blue-3: $blue-3;
  blue-4: $blue-4;
  brown-1: $brown-1;
  brown-2: $brown-2;
  brown-3: $brown-3;
  brown-4: $brown-4;
  gray-1: $gray-1;
  gray-2: $gray-2;
  gray-3: $gray-3;
  gray-4: $gray-4;
  red-1: $red-1;
  red-2: $red-2;
  red-3: $red-3;
  red-4: $red-4;
  orange-1: $orange-1;
  orange-2: $orange-2;
  orange-3: $orange-3;
  orange-4: $orange-4;



}
