// Nymbl colors

$green-1: #499998;
$green-2:  #1B807E;
$green-3: #1B807E;
$green-4: #A4CCCB;

$blue-1: #215F97;
$blue-2: #4D7FAC;
$blue-3: #7A9FC1;
$blue-4: #A6BFD5;

$light-blue-4: '#A5DDF3';
$light-blue-3: '#77CCEE';
$light-blue-2: '#4ABBE8';
$light-blue-1: '#1DAAE2';

$brown-1: #5e3d2a;
$brown-2: #8e6853;
$brown-3: #a79184;
$brown-4: #d9c5ba;

$gray-1: #292f2f;
$gray-2: #4E4E4E;
$gray-3: #7A7A7A;
$gray-4: #222222;

$orange-1: #bb5f15;
$orange-2: #e2771f;
$orange-3: #edab6f;
$orange-4: #f8d8b9;

$red-1: #751316;
$red-2: #ac1a1f;
$red-3: #d47f80;
$red-4: #f5d0d0;



$white: #ffffff;
$light-gray: #bebebe;
$gray: #5b5b5b;
$dark-red: #b12b23;
$light-red: #e95231;
$light-green: #06ffeb;
$dark-green: #00acb8;
$blue: #047ab7;
$darker-blue: #0446af;
$dark-blue: #0446af;

$teal: blue;

$label-color: $gray-2;

$red: lighten($light-red, 20%);
$green: lighten($dark-green, 4%);
$orange: #f3c28d;


$bg-color: #fafafa;

$hover-bg-color: #f1f1f1;
$hover-color: #606266;
$active-bg-color: #fff;
$active-color: #fff;
$text-color: #1f1f20;

// Black hues
$text: #222;
$gray: #5f6368;

:export {
  green-1: $green-1;
  green-2: $green-2;
  green-3: $green-3;
  green-4: $green-4;
  blue-1: $blue-1;
  blue-2: $blue-2;
  blue-3: $blue-3;
  blue-4: $blue-4;
  brown-1: $brown-1;
  brown-2: $brown-2;
  brown-3: $brown-3;
  brown-4: $brown-4;
  gray-1: $gray-1;
  gray-2: $gray-2;
  gray-3: $gray-3;
  gray-4: $gray-4;
  red-1: $red-1;
  red-2: $red-2;
  red-3: $red-3;
  red-4: $red-4;
  orange-1: $orange-1;
  orange-2: $orange-2;
  orange-3: $orange-3;
  orange-4: $orange-4;
}
