// Nymbl Brand
$white: #ffffff;
$light-gray: #bebebe;
$gray: #5b5b5b;
$dark-red: #b12b23;
$light-red: #e95231;
$light-green: #06ffeb;
$dark-green: #00acb8;
$blue: #047ab7;
$darker-blue: #0446af;
$dark-blue: #0446af;

// Nymbl Styles
$red: lighten($light-red, 20%);
$green: lighten($dark-green, 4%);
$orange: #f3c28d;
$userCheckedColor: #caf0ee;
$header-bg: $blue;

$bg-color: #fafafa;

$hover-bg-color: #f1f1f1;
$hover-color: #606266;
$active-bg-color: #fff;
$active-color: #fff;
$text-color: #606266;
